name: CI
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: [adopt@1.8]
        scala: [2.12.16, 2.13.10]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.jdk }}

      - name: Compile
        run: sbt coverage "++${{ matrix.scala }} compile"

      - name: Run tests
        run: sbt coverage "++${{ matrix.scala }} test"

      - name: Upload coverage data to Coveralls
        run: sbt ++${{ matrix.scala }} coverageAggregate coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: Scala ${{ matrix.scala }}

      - name: Check formatting
        run: git diff --exit-code

      - name: Publish snapshot version
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: sbt ++${{ matrix.scala }} publish
        env:
          SONATYPE_USERNAME: ruippeixotog
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
